html {
  height: 100%;
  font-size: 100%;
  line-height: 1.35;
  color: hsl(0, 0%, 10%);
  font-weight: normal;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: calc(0.85rem + 0.35vmin);
  background-color: hsl(335, 20%, 99%);
}

/* typography etc. */

h1 {
  margin: 0 0 0.2em;
  font-size: calc(1.3rem + 14vmin);
  line-height: 0.8;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  flex: 1 0 100%;
  color: hsl(217, 8%, 44%);
}

h2 {
  margin-top: 0;
  padding-top: 1.2em;
  font-size: calc(1.3rem + 1.4vmin);
  margin-bottom: 0.25em;
  font-weight: 300;
  line-height: 1.1;
}

h3 {
  font-size: calc(0.85rem + 0.85vmin);
  margin-bottom: 0.25em;
  line-height: 1.36;
  font-weight: 400;
}

h4 {
  font-size: calc(0.85rem + 0.35vmin);
  margin-bottom: 0.25em;
  line-height: 1.36;
  font-weight: 600;
}

p,
li {
  font-size: calc(0.85rem + 0.35vmin);
  line-height: 1.35;
  max-width: 64ch;
}

p,
ul,
ol {
  margin-top: 0;
  margin-bottom: 1em;
}

ul {
  padding-left: 0.8em;
}

ol {
  padding-left: 1.6em;
}

a,
a:visited {
  color: hsl(208, 97%, 38%);
}

a:hover,
a:focus {
  color: hsl(217, 97%, 23%);
  text-decoration: underline;
}

/* common */

header,
nav,
main,
.profile,
body > aside:nth-child(6),
.page-footer {
  padding: 0 2rem;
}

header .container,
nav ul,
main .container,
.profile .container,
body > aside:nth-child(6) .container,
.page-footer .container {
  margin: 0 auto;
  max-width: 76rem;
}

.link-github svg {
  width: 0.75em;
  stroke: currentColor;
  fill: transparent;
  stroke-width: 3;
}

/* page structure */

.skip-link {
  display: none;
}

strong {
  font-style: italic;
  font-weight: 400;
}

blockquote {
  margin: 1em;
}

blockquote p {
  font-size: calc(0.75rem + 0.35vmin);
  max-width: calc(64ch - 2em);
}

blockquote strong {
  font-style: normal;
  font-weight: 600;
}

header {
  background-color: hsl(335, 50%, 91%);
  padding-top: 1rem;
  padding-bottom: 2rem;
}

header .container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

header h2 {
  margin: 0 0 0.3em;
  flex: 1 0 100%;
  font-size: calc(0.85rem + 1.2vmin);
  line-height: 1.25;
  font-weight: 600;
}

header p {
  margin: 0;
}

header .link-github {
  text-decoration: none;
  border: 1px dashed hsl(335, 50%, 70%);
  padding: 0.3em;
  border-radius: 0.25rem;
  order: -1;
  margin-left: auto;
}

nav {
  background: hsl(335, 50%, 95%);
}

nav ul {
  display: flex;
  list-style: none;
  padding: 1em 0;
  flex-flow: row wrap;
}

nav li {
  margin-right: 1em;
  font-size: calc(0.75rem + 1vmin);
  font-weight: 600;
}

nav a {
  text-decoration: none;
}

main ul {
  column-width: 28ch;
}

ul ::marker {
  color: hsl(0, 0%, 20%);
  font-size: 0.75em;
}

body > aside:nth-child(6) {
  background-color: hsl(335, 50%, 95%);
  margin-top: 3rem;
}

body > aside:nth-child(6) > .container {
  padding-top: 1.6rem;
  padding-bottom: 4rem;
}

body > aside:nth-child(6) > .container > h2 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: calc(0.85rem + 0.85vmin);
  font-weight: 900;
  color: hsl(217, 8%, 44%);
}

.features {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 0.5rem;
}

.features li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.6rem 1rem 1rem;
  flex: 1 1 12rem;
  max-width: 16rem;
  background-color: hsl(335, 50%, 98%);
  font-size: calc(0.75rem + 0.35vmin);
  border-radius: 0.25rem;
}

.features > li > span {
  display: flex;
  flex-flow: row wrap;
}

.features a {
  font-size: calc(0.85rem + 0.85vmin);
  line-height: 1.25;
  text-decoration: none;
}

.features a:hover,
.features a:focus {
  text-decoration: underline;
}

.features > li > span > span {
  flex: 1 0 100%;
}

.page-footer {
  background-color: hsl(335, 50%, 91%);
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.page-footer .container {
  display: flex;
  flex-flow: row wrap;
}

.page-footer > div:nth-child(1) > p:nth-child(1) {
  font-size: calc(0.65rem + 0.35vmin);
  flex: 1 0 100%;
  max-width: initial;
  margin-bottom: 0.5em;
}

.page-footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  flex-flow: row wrap;
  flex: 1 0 100%;
  margin-bottom: 0.5rem;
  border-bottom: 1px dashed hsl(335, 50%, 70%);
  padding-bottom: 1.5rem;
}

.page-footer li {
  margin-right: 1em;
}

.page-footer ul a {
  text-decoration: none;
}

.page-footer ul a:hover,
.page-footer ul a:focus {
  text-decoration: underline;
}

.page-footer > div:nth-child(1) > p:nth-child(3) {
  margin-right: 2em;
  font-size: calc(0.65rem + 0.35vmin);
}

.page-footer > div:nth-child(1) > p:nth-child(4) {
  font-size: calc(0.65rem + 0.35vmin);
}
